#project-title{
  font-size: 2rem;
  color: var(--darkcolor1);
}

.project-container{
  margin: 5vh 0vh;
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5vh;
}

.project-container a{
  margin-right: 15%;
  border-radius: 20px;
  transition: all 1s linear;
  background-color: var(--lightcolor3);
}

.project-container a img{
  border-radius: 20px;
}

.project-container a:hover{
  box-shadow: 10px 20px 10px 0px var(--lightcolor3);
  transform: translate(-10px, -10px);
}

.project-container .technology-container{
  width: 100%;
  background-color: var(--lightcolor3);
  border-radius: 20px;
  padding: 5%;
  max-height: 100%;
}

.project-container .technology-container h4{
  margin-bottom: 20px;
  color: var(--darkcolor2);
  font-size: 1.5rem;
}

.project-container .technology-container ul{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 150px));
  grid-gap: 15px;
  list-style: none;
}

.project-container .technology-container ul li{
  font-size: 1.2rem;
}

.project-container .technology-container ul li::before{
  content: '✔️';
}

@media screen and (max-width: 769px){
  #project-title{
    font-size: 1rem !important;
  }
  .project-container{
    padding: 0 !important;
    margin: 0 !important;
    flex-wrap: wrap !important;
  }
  .project-container a{
    width: 90vw !important;
    margin: 20px 0px !important;
  }
  .project-container a img{
    margin: 0 !important;
    width: 90vw !important;
  }
}